* {
    margin: 0;
    padding: 0;
}

.app {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

game-board {
    display: inline-block;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
}

td {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(206, 206, 206);
    position: relative;

    .dot {
        display: inline-block;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: black;
        position: absolute;
    }

    .dot-top-left {
        top: -3px;
        left: -3px;
    }

    .dot-top-right {
        top: -3px;
        right: -3px;
    }

    .dot-bottom-left {
        bottom: -3px;
        left: -3px;
    }

    .dot-bottom-right {
        bottom: -3px;
        right: -3px;
    }

    .hitbox {
        display: inline-block;
        position: absolute;
    }

    .hitbox-top {
        width: 90%;
        height: 10%;
        top: -1%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .hitbox-bottom {
        width: 90%;
        height: 10%;
        bottom: -1%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .hitbox-right {
        width: 10%;
        height: 90%;
        right: -1%;
        top: 50%;
        bottom: 50%;
        transform: translate(0, -50%);
    }

    .hitbox-left {
        width: 10%;
        height: 90%;
        left: -1%;
        top: 50%;
        bottom: 50%;
        transform: translate(0, -50%);
    }

}

$blue: blue;
$red: red;

td.clicked-left {
    border-left: 2px solid;
    &.blue-left {
        border-left-color: $blue;
    }
    &.red-left {
        border-left-color: $red;
    }
}

td.clicked-right {
    border-right: 2px solid;
    &.blue-right {
        border-right-color: $blue;
    }
    &.red-right {
        border-right-color: $red;
    }
}

td.clicked-bottom {
    border-bottom: 2px solid;
    &.blue-bottom {
        border-bottom-color: $blue;
    }
    &.red-bottom {
        border-bottom-color: $red;
    }
}

td.clicked-top {
    border-top: 2px solid;
    &.blue-top {
        border-top-color: $blue;
    }
    &.red-top {
        border-top-color: $red;
    }
}

td.selected-left {
    border-left: 2px solid black;
}

td.selected-right {
    border-right: 2px solid black;
}

td.selected-bottom {
    border-bottom: 2px solid black;
}

td.selected-top {
    border-top: 2px solid black;
}

td.background-blue {
    background-color: $blue;
}

td.background-red {
    background-color: $red;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}

.form-container {
    position: absolute;
    background-color: white;
    width: 50%;
    height: 20%;
    opacity: 1.0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.inputs-container {
    display: flex;
    width: 70%;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.player1-input, .player2-input {
    width: 45%;
}

.size-input {
    width: 10%;
    margin-bottom: 10px;
}

.validate-button {
    width: 30%;
}

.game-infos-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.score-1, .score-2 {
    margin-left: 20px;
    margin-right: 20px;
}